/* Global */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
a{
    color: black;
    text-decoration: none;
}

/*Utilities*/
.link-selected{
    color: rgb(108, 8, 8);
    text-decoration: none;
}
.btn{
    background-color: #222222;
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* Header */
.site-init{
    height: 150px;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.menu a{
    margin-right: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
/* Main */
.dish-month-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}
.dish-month-img{
    margin-right: 20px;
}
.dish-month-img img{
    width: 50%;
    margin-left: 40%;
    
}
.dish-month-text h2{
    font-size: 38px;
}
.dish-month-text p{
    font-size: 14px;
    margin: 10px 0;
}
.dish-month-text .text-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-flex p{
    font-size: 22px;
}

/* All-Dishes */
.all-dishes-container{
    margin-top: 100px;
    width: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.dish-container{
    background-color: #222222;
    color: white;
}